*{
    padding: 0;
    margin: 0;
}

body{
    font: normal normal 16px Arial, Helvetica, sans-serif;
}

h3{
    padding: 10px;
    font-size: 2em;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0;
    width: 720px;
}

ul li{
    float: left;
    background: url(../img/aba-direita.png) no-repeat top right;
}

ul li{
    float: left;
}

ul a{
    text-decoration: none;
    display: block;
    padding: 0em 2em;
    color: #fff;
    font: normal normal 17px/2em Verdana, Geneva, sans-serif;
    background: url(../img/aba-esquerda.png) no-repeat top left;
}

ul .primeiro a{
    background: none;
}

ul a:hover{
    color: #984751;
}

#atual{
    background: url(../img/aba-direita-atual.png)  no-repeat top right;
}

ul #atual a{
    background: url(../img/aba-esquerda-atual.png) no-repeat top left;
}